<div class="row">

  <div class="col-lg-6 col-md-12">
    <div class="card card-body">
      <h3 class="mb-0">REGISTRO DE PARTO</h3>


      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <form [formGroup]="formPartoReg">
            <div class="form-group">
              <label>FECHA DE PARTO</label>
              <app-selector-fecha formControlName="FECHA_PARTO"></app-selector-fecha>
            </div>
            <div class="form-group">
              <label>HORA DE PARTO</label>
              <input type="time" class="form-control" value="22:33:00" formControlName="HORA_PARTO">

            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">LUGAR DE PARTO</label>
              <app-selector-tipo-lugar-parto></app-selector-tipo-lugar-parto>

            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">TIPO DE PARTO</label>
              <select class="form-control" id="exampleFormControlSelect1" formControlName="TIPO_PARTO" (change)="ABORTO()">
                <option value="1">VAGINAL</option>
                <option value="2">CESAREA</option>
                <option value="3">ABORTO</option>

              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">TIPO DE RECIEN NACIDO</label>
              <select class="form-control" id="exampleFormControlSelect1" formControlName="TIPO_RECIEN_NACIDO" *ngIf="this.formPartoReg.value.TIPO_PARTO!=3" (change)="selecciono_tipo_recien()" >
                <option value="1">A TERMINO</option>
                <option value="2">PREMATURO</option>
                <option value="4">POST TERMINO</option>
                <option value="5">MULTIPLE</option>

              </select>
            </div>




            <div class="form-group">
              <label for="exampleInputPassword1">QUIEN ATENDIO EL PARTO</label>
              <select class="form-control" formControlName="ID_ATENDIO_PARTO" *ngIf="this.formPartoReg.value.TIPO_PARTO!=3" >

                <option value="1">OBSTETRA</option>
                <option value="2">GINECO OBSTETRA</option>
                <option value="3">LIC. EN ENFERMERÍA</option>
                <option value="4">TEC. EN ENFERMERÍA</option>
                <option value="5">PARTERA O PROMOTOR</option>
                <option value="6">FAMILIAR</option>
                <option value="7">MÉDICO</option>
                <option value="8">OTRO</option>

              </select>
            </div>
            <div formArrayName="NACIMIENTOS">
              <button (click)="agregar_nacimiento()" class="btn btn-primary" [disabled]="this.formPartoReg.value.TIPO_PARTO==3"> AGREGAR</button>

              <ul class="nav nav-tabs mb-3">
                <li class="nav-item" *ngFor="let o of NACIMIENTOS_FORM.controls;let i=index ">
                  <a href="#hij{{i}}" data-toggle="tab" aria-expanded="false" class="nav-link " (click)="nacimiento=i">
                    <i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i>
                    <span class="d-none d-lg-block">Recien Nacido {{i+1}}</span>
                  </a>
                </li>

              </ul>
              <div class="tab-content" *ngIf="this.formPartoReg.value.TIPO_PARTO!=3">
                <ng-container *ngFor="let o of NACIMIENTOS_FORM.controls;let i=index ">

                  <div class="tab-pane active" id="hij{{i}}" [ngClass]="{active: nacimiento===i}">


                    <div [formGroupName]="i">


                      <div class="card-body">
                        <h4 class="card-title"> VIVO</h4>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input material-inputs" type="radio" id="RN_VIVO_SI{{i}}"
                            formControlName="RN_VIVO" value="1">
                          <label class="form-check-label" for="RN_VIVO_SI{{i}}">SI</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input material-inputs" type="radio" id="RN_VIVO_NO{{i}}"
                            formControlName="RN_VIVO" value="0">
                          <label class="form-check-label" for="RN_VIVO_NO{{i}}">NO</label>
                        </div>


                      </div>
                      <div class="card-body">
                        <h4 class="card-title"> SEXO</h4>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input material-inputs" type="radio" id="RN_SEXOM{{i}}"
                            formControlName="RN_SEXO" value="1">
                          <label class="form-check-label" for="RN_SEXOM{{i}}">MASCULINO</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input material-inputs" type="radio" id="RN_SEXOF{{i}}"
                            formControlName="RN_SEXO" value="2">
                          <label class="form-check-label" for="RN_SEXOF{{i}}">FEMENINO</label>
                        </div>

                      </div>
                      <div class="form-group input-group">
                        <label for="exampleInputEmail1">PESO</label>
                        <input class="form-control" formControlName="RN_PESO" type="number">
                        <div class="input-group-append">
                          <span class="input-group-text">gramos</span>

                      </div>
                      </div>

                    </div>

                  </div>







                </ng-container>




              </div>


            </div>


            <button type="submit" class="btn btn-success waves-effect waves-light mr-2"
              (click)="REGISTRAR_PARTO()">REGISTRAR</button>
            <button type="submit" class="btn btn-inverse waves-effect waves-light">CANCELAR</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="d-md-flex no-block">
          <h4 class="card-title">PARTOS REGISTRADOS</h4>

        </div>
        <div class="month-table">
          <div class="table-responsive mt-3">
            <table class="table stylish-table v-middle mb-0 no-wrap">
              <thead>
                <tr>
                  <th class="border-0 text-muted font-weight-normal">FECHA DE PARTO</th>
                  <th class="border-0 text-muted font-weight-normal">SEXO</th>
                  <th class="border-0 text-muted font-weight-normal">TIPO PARTO</th>


                  <th class="border-0 text-muted font-weight-normal">ACCION</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of PARTOS">
                  <td>
                    <h6 class="font-weight-medium mb-0">{{data.FECHA_PARTO|date:'dd-MM-yyyy'}}</h6><small
                      class="text-muted">{{data.HORA_PARTO|date:'hh:mm'}}</small>
                  </td>
                  <td style="width:50px;"><span class=" text-white d-inline-block text-center ">{{data.RN_SEXO}}</span>
                  </td>
                  <td>

                  </td>

                  <td>
                    <button type="button" class="btn waves-effect waves-light btn-success"
                      [routerLink]="['/sivigyp/principal/atencion-puerperio',ID_ATENCION]">Ir Atencion
                      Puerperio</button>

                      <div class="btn-group show" >
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="true">
                          Accion
                        </button>
                        <div class="dropdown-menu "
                          style="position: absolute; transform: translate3d(-44px, 35px, 0px); top: 0px; left: 0px; will-change: transform;"
                          x-placement="bottom-start">
                          <a class="dropdown-item" (click)="eliminar_parto(data.ID_ATENCION_PARTO)" >Eliminar</a>
                          
  
                        </div>
                      </div>

                   
                  </td>

                </tr>

              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
