<div class="modal  fade show" *ngIf="mostrar==true" role="dialog" aria-modal="true"
  style="padding-right: 17px; display: block;">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="text-center bg-success fondo p-3">

        <span class="titulo">GUADAR ATENCION PUERPERIO</span>

      </div>
      <div class="modal-body">

        <form class="pl-3 pr-3" >


          <div class="form-group">
            <label for="observacion">METODO DE PLANIFICACION FAMILIAR</label>

            <app-selector-metodos-planificacion (change)="selecciono_metodo($event)" name="METODO" [(ngModel)]="METODO"></app-selector-metodos-planificacion>
          </div>
          <div class="form-group text-center">
            <button class="btn btn-dark waves-effect waves-light pad">Cancelar</button>
            <button class="btn btn-info" type="submit" (click)="ACEPTAR()" >ATENDER</button>
          </div>

        </form>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
