

<div  class="modal fade show" tabindex="-1" aria-labelledby="fullWidthModalLabel" aria-modal="true" >
  <div class="modal-dialog modal-full-width">
      <div class="modal-content">
          <div class="modal-header d-flex align-items-center">
              <h4 class="modal-title" id="fullWidthModalLabel">CITAS PENDIENTES </h4>
              <button type="button" class="close ml-auto" routerLink=".." data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body">
            <app-principal-notificaciones></app-principal-notificaciones>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-light" data-dismiss="modal" (click)="cerrar()">Cerrar</button>

          </div>
      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<div class="modal-backdrop fade show"></div>
