<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="d-md-flex no-block">
          <h4 class="card-title">Lista de Gestantes</h4>



          <div class="ml-auto">

            <form class="mt-4">
              <app-buscar-persona-hc (encontro_persona)="cargar_personas_buscadas($event)"></app-buscar-persona-hc>
            </form>
          </div>
        </div>
        <div>
          <div *ngIf="data_encontrada.length==0">
            <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
              <button type="button" class="close ml-auto" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <strong>Numero de documento no resgistrado en el sistema- </strong> Puede registrar el paciente como nuevo

            </div>

            <button type="button" class="btn btn-primary" (click)="Nuevo_Paciente()">Ingresar Nuevo Paciente</button>
          </div>
        </div>
        <div class="month-table">
          <div class="table-responsive mt-3">
            <table class="table stylish-table v-middle mb-0 no-wrap">
              <thead>
                <tr>
                  <th class="border-0 text-muted font-weight-normal" colspan="2">Nombres Completos</th>

                  <th class="border-0 text-muted font-weight-normal">Numero de Documento</th>
                  <th class="border-0 text-muted font-weight-normal">Establecimiento de atencion</th>
                  <th class="border-0 text-muted font-weight-normal">Historia Clinica</th>
                  <th class="border-0 text-muted font-weight-normal">Provincia</th>
                  <th class="border-0 text-muted font-weight-normal">Distrito</th>
                  <th class="border-0 text-muted font-weight-normal">Residencia</th>

                  <th class="border-0 text-muted font-weight-normal">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of data_encontrada;let i=index" (click)="visualizar_detalle(data,i)"
                  [ngClass]="{ 'bg-success': selected_row === i ,'seleccionado': selected_row === i}">
                  <td style="width:50px;"><span
                      class="round text-white d-inline-block text-center rounded-circle bg-info">S</span>
                  </td>
                  <td>
                    <h6 class="font-weight-medium mb-0"    [ngClass]="{'seleccionado': selected_row === i}">{{data.APELLIDO_PAT+' '+data.APELLIDO_MAT+' '+data.NOMBRES}}
                    </h6><small class="text-muted">{{data.ID_PERSONA}}-{{data.ID_HC}}
                   </small>
                  </td>

                  <td>{{data.NRO_DOCUMENTO}}</td>
                  <td>{{data.ipress.NOMBRE}}</td>
                  <td>{{data.NRO_DOCUMENTO}}</td>
                  <td>{{data.provincia.NOMBRE}}</td>
                  <td>{{data.distrito.NOMBRE}}</td>
                  <td>{{data.DIRECCION}}</td>

                  <td>  <button type="button" (click)="visualizar_detalle(data,i)"  [routerLink]="['/sivigyp/principal/','atencion-gestante']" class="btn waves-effect waves-light btn-primary">ATENDER GESTANTE</button>
                    <button type="button" (click)="visualizar_detalle(data,i)"  class="btn waves-effect waves-light btn-secondary"
                    [routerLink]="['/sivigyp/principal/','actualizar-gestante']">EDITAR DATOS</button>
                  </td>

                </tr>

              </tbody>
            </table>
            <ul class="pagination">
              <li class="paginate_button page-item previous" id="t_add_row_previous"><a href="#"
                  aria-controls="t_add_row" data-dt-idx="0" tabindex="0" class="page-link">Anterior</a></li>
                  <li *ngFor="let pag of counter(paginas)" class="paginate_button page-item"><button (click)="cargar_pagina(pag+1)"  aria-controls="t_add_row" data-dt-idx="1" tabindex="0"
                    class="page-link">{{pag+1}}</button>
                  </li>



              <li class="paginate_button page-item next disabled" id="t_add_row_next"><a href="#"
                  aria-controls="t_add_row" data-dt-idx="3" tabindex="0" class="page-link">Siguiente</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
