<div class="row">
  <div class="col-4">     <div class="card">
    <H2 class="card-title">DATOS DE LA GESTANTE</H2>
    <img class="card-img-top w-70 profile-bg-height h_50" src="../assets/images/background/profile-bg.jpg"
      alt="Card image cap">

    <div class="card-body little-profile text-center">
      <div class="pro-img"><img src="../assets/images/users/2.jpg" alt="user" class="rounded-circle shadow-sm"
          width="150"></div>
      <h3 class="mb-0">{{detalle_persona.APELLIDO_PAT+ ' '+detalle_persona.APELLIDO_MAT+ ' '+detalle_persona.NOMBRES}}</h3>
      <p>dni &amp; {{detalle_persona.NRO_DOCUMENTO}}</p>

      <p>Tipo de Seguro : {{detalle_persona?.NOMBRE}}</p>
      <p>Beneficiaria de Juntos : {{detalle_persona.BENEFICIARIA_JUNTOS|cumple}}</p>
      <p>Estado Civil: {{detalle_persona.ESTADO_CIVIL|estadoCivil}}</p>
      <p>Idioma: {{detalle_persona.IDIOMA}}</p>
      <p>Telefono: {{detalle_persona.TELEFONO}}</p>
      <p>Correo: {{detalle_persona.CORREO}}</p>





    </div>
  </div></div>
  <div class="col-4">
    <div class="card">


      <div class="card-body">
        <div class="card-title"><h3>DATOS DE PARTO</h3></div>
        <div><p> FECHA PARTO :{{PARTO.FECHA_PARTO|date:'dd-MM-yyyy'}} </p></div>
          <br>
          <div><p> HORA PARTO :{{PARTO.HORA_PARTO|date:'hh:mm'}}</p></div>
          <br>
          <div><p>TIIPO PARTO:{{PARTO.TIPO_PARTO|tipoParto}}</p></div>
          <br>
          <div><p>LUGAR PARTO:{{PARTO.LUGAR_PARTO}}</p></div>
          <br>
          <div><p>SEXO: {{PARTO.RN_SEXO==1?'MASCULINO':'FEMENINO'}}</p></div>
          <br>
          <div>PESO:{{PARTO.RN_PESO}}</div>

          <br>
          <div>EDAD GESTACIONAL:{{PARTO.EDAD_GESTACIONAL}}</div>


      </div>
  </div>
  </div>
  <div class="col-4">


    <div class="card">
      <div class="card-body">
        <div class="d-md-flex no-block">
          <h4 class="card-title">Programacion de Citas Puerperas</h4>

        </div>
        <div class="d-md-flex no-block">


       <div class="input-group-append sep">
            <button class="btn btn-info" type="button" (click)="Agregar_Cita()"
            >Agregar Cita</button>
          </div>



        </div>
        <div class="month-table">

          <div class="table-responsive mt-3 mb caja">

            <table class="table stylish-table v-middle mb-0 no-wrap ">
              <thead>
                <tr>
                  <th class="border-0 text-muted font-weight-normal">Numero</th>
                  <th class="border-0 text-muted font-weight-normal">Fecha</th>

                  <th class="border-0 text-muted font-weight-normal">Estado</th>
                  <th class="border-0 text-muted font-weight-normal">Lugar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let aten of ATENCIONES_PUERPERIO">
                  <td style="width:50px;"><span
                      class="round text-white d-inline-block text-center rounded-circle bg-info">{{aten.NRO_ATENCION}}</span>
                      {{aten.ID_ATENCION_PUERPERIO}}
                  </td>

                  <td>{{aten.FECHA_ATENCION|date:'dd-MM-yyyy'}}</td>

                  <td><span
                      [ngClass]="{'badge-danger': aten.ESTADO_PUERPERIO === 3 }"
                      class="badge  px-2 py-1">{{aten.ESTADO_PUERPERIO|estadoAtencion}}</span></td>
                  <td >
                    <div class="btn-group show">
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true">
                        Accion
                      </button>
                      <div class="dropdown-menu "
                        style="position: absolute; transform: translate3d(-44px, 35px, 0px); top: 0px; left: 0px; will-change: transform;"
                        x-placement="bottom-start">
                        <a class="dropdown-item"  (click)="MOSTRAR_DIALOG(aten.ID_ATENCION_PUERPERIO)">Atender</a>
                        <a class="dropdown-item"  (click)="mostra_dialog_no_atender(aten.ID_ATENCION_PUERPERIO)" >No Atendido</a>
                        <a class="dropdown-item"  (click)="mostra_dialog_reprogramar(aten.ID_ATENCION_PUERPERIO)" >Reprogramar</a>
                        <a class="dropdown-item"  (click)="eliminar(aten.ID_ATENCION_PUERPERIO)" >Eliminar Cita</a>


                      </div>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
<app-atencion-pf #atencion_ppf (acepto_dialogo)="acepto_dialogo($event)"></app-atencion-pf>
<app-reprogramar-atencion-puerperio #reprogramar (acepto_reprogramar)="reprogramar_cita($event)"></app-reprogramar-atencion-puerperio>
<app-no-atencion-puerperio #no_atender (acepto_no_atender)="acepto_no_atender($event)"></app-no-atencion-puerperio>
<app-agregar-cita-puerperio #agregar_cita (acepto_nueva_cita)="acepto_nueva_cita($event)"></app-agregar-cita-puerperio>

