<div class="card">

  <div class="row entre">
    <div class="col-4">RED</div>
    <div class="col-4"> MICRORED</div>
    <div class="col-4"> IPRESS</div>

  </div>

  <div class="row entre">
    <div class="col-4"><app-selector-red (cambio_red)="selecciono_red($event)"></app-selector-red></div>
    <div class="col-4"> <app-selector-microred #microred (cambio_microred)="seleciono_microred($event)"></app-selector-microred></div>
    <div class="col-4"> <app-selector-ipress #ipress (selecciono_ambito)="selecciono_ipress($event)"></app-selector-ipress></div>

  </div>


</div>
