<div class="card">
  <div class="card-body">

      <div class="month-table">
          <div class="table-responsive mt-3">
              <table class="table stylish-table v-middle mb-0 no-wrap">
                  <thead>
                      <tr>
                          <th class="border-0 text-muted font-weight-normal" colspan="2">numero de documento</th>
                          <th class="border-0 text-muted font-weight-normal">nombres</th>
                          <th class="border-0 text-muted font-weight-normal">FUR</th>

                          <th class="border-0 text-muted font-weight-normal">1er Control</th>
                          <th class="border-0 text-muted font-weight-normal">2do Control</th>
                          <th class="border-0 text-muted font-weight-normal">3er Control</th>
                          <th class="border-0 text-muted font-weight-normal">4to Control</th>
                          <th class="border-0 text-muted font-weight-normal">5to Control</th>
                          <th class="border-0 text-muted font-weight-normal">6to Control</th>
                          <th class="border-0 text-muted font-weight-normal">7mo Control</th>
                          <th class="border-0 text-muted font-weight-normal">8vo Control</th>
                          <th class="border-0 text-muted font-weight-normal">9no Control</th>
                          <th class="border-0 text-muted font-weight-normal">10mo Control</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td style="width:50px;"><span class="round text-white d-inline-block text-center rounded-circle bg-info">S</span>
                          </td>
                          <td>
                              <h6 class="font-weight-medium mb-0">Sunil Joshi</h6><small class="text-muted">Web
                                  Designer</small>
                          </td>
                          <td>Elite Admin</td>
                          <td><span class="badge badge-success px-2 py-1">Low</span></td>
                          <td>$3.9K</td>
                      </tr>




                  </tbody>
              </table>
          </div>
      </div>

  </div>
</div>
