<p>listado-atenciones works!</p>
<div class="card">
    <div class="card-body pb-0">
        <h4 class="card-title">Recent Comments</h4>
        <h6 class="card-subtitle mb-3 pb-1">Latest Comments on users from Material</h6>
    </div>
    <!-- ============================================================== -->
    <!-- Comment widgets -->
    <!-- ============================================================== -->
    <div class="comment-widgets scrollable mb-2 common-widget ps-container ps-theme-default" style="height: 450px;" data-ps-id="3b515361-7a30-221d-7cba-458112a882f3">
        <!-- Comment Row -->
        <div class="d-flex flex-row comment-row p-3">
            <div class="p-2"><span class="round text-white d-inline-block text-center bg-info"><img src="../assets/images/users/1.jpg" class="rounded-circle" alt="user" width="50"></span></div>
            <div class="comment-text w-100 p-3">
                <h5 class="text-nowrap">James Anderson</h5>
                <p class="mb-1 overflow-hidden">Lorem Ipsum is simply dummy text of the printing
                    and type
                    setting industry. Lorem Ipsum has beenorem Ipsum is simply dummy text of the
                    printing and type setting industry.</p>
                <div class="comment-footer"> <span class="text-muted pull-right">April 14,
                        2016</span> <span class="badge badge-info">Pending</span> <span class="action-icons">
                        <a href="javascript:void(0)" class="pl-3"><i class="ti-pencil-alt"></i></a>
                        <a href="javascript:void(0)" class="pl-3"><i class="ti-check"></i></a>
                        <a href="javascript:void(0)" class="pl-3"><i class="ti-heart"></i></a>
                    </span> </div>
            </div>
        </div>
        <!-- Comment Row -->
        <div class="d-flex flex-row comment-row active p-3">
            <div class="p-2"><span class="round text-white d-inline-block text-center bg-info"><img src="../assets/images/users/2.jpg" class="rounded-circle" alt="user" width="50"></span></div>
            <div class="comment-text active w-100 p-3">
                <h5 class="text-nowrap">Michael Jorden</h5>
                <p class="mb-1 overflow-hidden">Lorem Ipsum is simply dummy text of the printing
                    and type
                    setting industry. Lorem Ipsum has beenorem Ipsum is simply dummy text of the
                    printing and type setting industry..</p>
                <div class="comment-footer "> <span class="text-muted pull-right">April 14,
                        2016</span> <span class="badge badge-light-success text-success">Approved</span>
                    <span class="action-icons active">
                        <a href="javascript:void(0)" class="pl-3"><i class="ti-pencil-alt"></i></a>
                        <a href="javascript:void(0)" class="pl-3"><i class="icon-close"></i></a>
                        <a href="javascript:void(0)" class="pl-3"><i class="ti-heart text-danger"></i></a>
                    </span> </div>
            </div>
        </div>
        <!-- Comment Row -->
        <div class="d-flex flex-row comment-row p-3">
            <div class="p-2"><span class="round text-white d-inline-block text-center bg-info"><img src="../assets/images/users/3.jpg" class="rounded-circle" alt="user" width="50"></span></div>
            <div class="comment-text w-100 p-3">
                <h5 class="text-nowrap">Johnathan Doeting</h5>
                <p class="mb-1 overflow-hidden">Lorem Ipsum is simply dummy text of the printing
                    and type
                    setting industry. Lorem Ipsum has beenorem Ipsum is simply dummy text of the
                    printing and type setting industry.</p>
                <div class="comment-footer"> <span class="text-muted pull-right">April 14,
                        2016</span> <span class="badge badge-danger">Rejected</span> <span class="action-icons">
                        <a href="javascript:void(0)" class="pl-3"><i class="ti-pencil-alt"></i></a>
                        <a href="javascript:void(0)" class="pl-3"><i class="ti-check"></i></a>
                        <a href="javascript:void(0)" class="pl-3"><i class="ti-heart"></i></a>
                    </span> </div>
            </div>
        </div>
        <!-- Comment Row -->
        <div class="d-flex flex-row comment-row p-3">
            <div class="p-2"><span class="round text-white d-inline-block text-center bg-info"><img src="../assets/images/users/4.jpg" class="rounded-circle" alt="user" width="50"></span></div>
            <div class="comment-text w-100 p-3">
                <h5 class="text-nowrap">James Anderson</h5>
                <p class="mb-1 overflow-hidden">Lorem Ipsum is simply dummy text of the printing
                    and type
                    setting industry. Lorem Ipsum has beenorem Ipsum is simply dummy text of the
                    printing and type setting industry..</p>
                <div class="comment-footer"> <span class="text-muted pull-right">April 14,
                        2016</span> <span class="badge badge-info">Pending</span> <span class="action-icons">
                        <a href="javascript:void(0)" class="pl-3"><i class="ti-pencil-alt"></i></a>
                        <a href="javascript:void(0)" class="pl-3"><i class="ti-check"></i></a>
                        <a href="javascript:void(0)" class="pl-3"><i class="ti-heart"></i></a>
                    </span> </div>
            </div>
        </div>
    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
</div>