<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="d-md-flex no-block">
          <h4 class="card-title">CITAS PENDIENTES</h4>


        </div>
        <div class="d-md-flex no-block">

          <h4 class="card-title">{{nro_atenciones_pendientes}}</h4>

        </div>
        <div class="month-table">
          <div class="table-responsive mt-3">
            <table class="table stylish-table v-middle mb-0 no-wrap footable footable-2 footable-filtering footable-filtering-right footable-paging footable-paging-center breakpoint-lg">
              <thead>
                <tr>
                  <th class="border-0 text-muted font-weight-normal" colspan="2">NOMBRES</th>
                  <th class="border-0 text-muted font-weight-normal">FECHA CITA</th>
                  <th class="border-0 text-muted font-weight-normal">FECHA PROBABLE DE PARTO</th>
                  <th class="border-0 text-muted font-weight-normal">RIEGOS</th>

                  <th class="border-0 text-muted font-weight-normal">ACCION</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dat of atenciones_pendientes">
                  <td style="width:50px;"><span
                      class="round text-white d-inline-block text-center rounded-circle bg-info">{{dat.EDAD_GESTACIONAL}}</span>
                  </td>
                  <td>
                    <h6 class="font-weight-medium mb-0">{{dat.ATENCION.HistoriaClinica.PERSONA.NOMBRES+'
                      '+dat.ATENCION.HistoriaClinica.PERSONA.APELLIDO_PAT+ '
                      '+dat.ATENCION.HistoriaClinica.PERSONA.APELLIDO_MAT}}</h6><small
                      class="text-muted">{{dat.ID_ATENCION_REG+'-'+dat.ATENCION.ID_ATENCION+'-'+dat.ATENCION.HistoriaClinica.PERSONA.NRO_DOCUMENTO}}</small>
                  </td>
                  <td>{{dat.FECHA_ATENCION_REG|date:'dd-MM-yyyy'}}</td>
                  <td>{{dat.ATENCION.FECHA_POSIBLE_PARTO|date:'dd-MM-yyyy'}}</td>
                  <td><span *ngFor="let riesgo of dat.ATENCION.RIESGOS" class="badge badge-danger mx-1 ">
                      {{riesgo.NOMBRE}}</span></td>
                      <td><button type="button" (click)="Ingresar(dat.ATENCION.HistoriaClinica.PERSONA.NRO_DOCUMENTO)" class="btn btn-primary">
                        Ingresar</button></td>

                </tr>

              </tbody>
              <tfoot>
                <tr class="footable-paging">
                  <td colspan="5">
                    <div class="footable-pagination-wrapper">
                      <ul class="pagination justify-content-center">
                        <li class="footable-page-nav disabled" data-page="first"><a class="footable-page-link"
                            href="#">«</a></li>
                        <li class="footable-page-nav disabled" data-page="prev"   (click)="previo()"><a class="footable-page-link"
                        >‹</a></li>
                        <li class="footable-page-nav disabled" data-page="prev-limit"><a class="footable-page-link"
                            href="#">...</a></li>
                        <li *ngFor="let i of paginas" class="footable-page visible " data-page="1"><a class="footable-page-link"
                            (click)="selecciono_pagina(i)">{{i}}</a></li>

                        <li class="footable-page-nav" data-page="next-limit"><a class="footable-page-link"
                            href="#">...</a></li>
                        <li class="footable-page-nav" data-page="next" (click)="siguiente()"><a class="footable-page-link" >›</a></li>
                        <li class="footable-page-nav" data-page="last"><a class="footable-page-link" >»</a></li>
                      </ul>
                      <div class="divider"></div><span class="label label-primary">{{atenciones_pendientes.length}} of {{nro_atenciones_pendientes}}</span>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
