<header class="topbar" data-navbarbg="skin3">
  <nav class="navbar top-navbar navbar-expand-lg navbar-dark">
    <div class="navbar-header" data-logobg="skin3">

      <a
        class="nav-toggler waves-effect waves-light d-block d-lg-none"
        href="javascript:void(0)"
        ><i class="ti-menu ti-close"></i
      ></a>

      <a class="navbar-brand" href="index.html">

        <b class="logo-icon">

        </b>

        <span class="logo-text">
          <!-- dark Logo text -->
          <img
            src="../assets/diresa/grc_icono.svg"
            alt="homepage"
            class="dark-logo"
          />
          <!-- Light Logo text -->
          <img
            src="../assets/diresa/grc_icono.svg"
            class="light-logo"
            alt="homepage"
          />
        </span>
      </a>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Toggle which is visible on mobile only -->
      <!-- ============================================================== -->
      <a
        class="topbartoggler d-block d-lg-none waves-effect waves-light"
        href="javascript:void(0)"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        ><i class="ti-more"></i
      ></a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <div
      class="navbar-collapse collapse"
      id="navbarSupportedContent"
      data-navbarbg="skin3"
    >
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->

      <img
        src="https://sir.diresacajamarca.gob.pe:8002/dist/img/texto_diresa-pagina-2.svg"
        alt="Dirección Regional de Salud Cajamarca"
        class="img-fluid"
      />

      <ul class="navbar-nav mr-auto">
        <!-- This is  -->
        <!--   <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-md-block waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li> -->
        <!-- ============================================================== -->
        <!-- Search -->
        <!-- ============================================================== -->
        <li class="nav-item d-none d-md-block search-box">
          <a
            class="nav-link d-none d-md-block waves-effect waves-dark"
            href="javascript:void(0)"
            ><i class="ti-search"></i
          ></a>
          <form class="app-search">
            <input
              type="text"
              class="form-control"
              placeholder="Search &amp; enter"
            />
            <a class="srh-btn"><i class="ti-close"></i></a>
          </form>
        </li>
        <!-- ============================================================== -->
        <!-- Mega Menu -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown mega-dropdown">
          <a
            class="nav-link dropdown-toggle waves-effect waves-dark"
            href=""
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ><i class="mdi mdi-view-grid"></i
          ></a>
          <div class="dropdown-menu scale-up-left">
            <ul class="mega-dropdown-menu row p-0 m-0 list-inline">
              <li class="col-lg-3 col-xlg-2 mb-4">
                <h4 class="mb-3">CAROUSEL</h4>
                <!-- CAROUSEL -->
                <div
                  id="carouselExampleControls"
                  class="carousel slide"
                  data-ride="carousel"
                >
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item">
                      <div class="container">
                        <img
                          class="d-block img-fluid"
                          src="../assets/images/big/img1.jpg"
                          alt="First slide"
                        />
                      </div>
                    </div>
                    <div class="carousel-item active">
                      <div class="container">
                        <img
                          class="d-block img-fluid"
                          src="../assets/images/big/img2.jpg"
                          alt="Second slide"
                        />
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="container">
                        <img
                          class="d-block img-fluid"
                          src="../assets/images/big/img3.jpg"
                          alt="Third slide"
                        />
                      </div>
                    </div>
                  </div>
                  <a
                    class="carousel-control-prev"
                    href="#carouselExampleControls"
                    role="button"
                    data-slide="prev"
                  >
                    <span
                      class="carousel-control-prev-icon"
                      aria-hidden="true"
                    ></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a
                    class="carousel-control-next"
                    href="#carouselExampleControls"
                    role="button"
                    data-slide="next"
                  >
                    <span
                      class="carousel-control-next-icon"
                      aria-hidden="true"
                    ></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                <!-- End CAROUSEL -->
              </li>
              <li class="col-lg-3 mb-4">
                <h4 class="mb-3">ACCORDION</h4>
                <!-- Accordian -->
                <div
                  id="accordion"
                  class="nav-accordion"
                  role="tablist"
                  aria-multiselectable="true"
                >
                  <div class="card mb-1">
                    <div class="card-header" role="tab" id="headingOne">
                      <h5 class="mb-0">
                        <a
                          data-toggle="collapse"
                          data-parent="#accordion"
                          href="#collapseOne"
                          aria-expanded="true"
                          aria-controls="collapseOne"
                        >
                          Collapsible Group Item #1
                        </a>
                      </h5>
                    </div>
                    <div
                      id="collapseOne"
                      class="collapse show"
                      role="tabpanel"
                      aria-labelledby="headingOne"
                    >
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high.
                      </div>
                    </div>
                  </div>
                  <div class="card mb-1">
                    <div class="card-header" role="tab" id="headingTwo">
                      <h5 class="mb-0">
                        <a
                          class="collapsed"
                          data-toggle="collapse"
                          data-parent="#accordion"
                          href="#collapseTwo"
                          aria-expanded="false"
                          aria-controls="collapseTwo"
                        >
                          Collapsible Group Item #2
                        </a>
                      </h5>
                    </div>
                    <div
                      id="collapseTwo"
                      class="collapse"
                      role="tabpanel"
                      aria-labelledby="headingTwo"
                    >
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high
                        life accusamus terry richardson ad squid.
                      </div>
                    </div>
                  </div>
                  <div class="card mb-0">
                    <div class="card-header" role="tab" id="headingThree">
                      <h5 class="mb-0">
                        <a
                          class="collapsed"
                          data-toggle="collapse"
                          data-parent="#accordion"
                          href="#collapseThree"
                          aria-expanded="false"
                          aria-controls="collapseThree"
                        >
                          Collapsible Group Item #3
                        </a>
                      </h5>
                    </div>
                    <div
                      id="collapseThree"
                      class="collapse"
                      role="tabpanel"
                      aria-labelledby="headingThree"
                    >
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high
                        life accusamus terry richardson ad squid.
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col-lg-3 mb-4">
                <h4 class="mb-3">CONTACT US</h4>
                <!-- Contact -->
                <form>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputname1"
                      placeholder="Enter Name"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Enter email"
                    />
                  </div>
                  <div class="form-group">
                    <textarea
                      class="form-control"
                      id="exampleTextarea"
                      rows="3"
                      placeholder="Message"
                    ></textarea>
                  </div>
                  <button type="submit" class="btn btn-info">Submit</button>
                </form>
              </li>
              <li class="col-lg-3 col-xlg-4 mb-4">
                <h4 class="mb-3">List style</h4>
                <!-- List style -->
                <ul class="list-style-none">
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="fa fa-check text-success"></i> You can give
                      link</a
                    >
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="fa fa-check text-success"></i> Give link</a
                    >
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="fa fa-check text-success"></i> Another Give
                      link</a
                    >
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="fa fa-check text-success"></i> Forth link</a
                    >
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="fa fa-check text-success"></i> Another fifth
                      link</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <!-- ============================================================== -->
        <!-- End Mega Menu -->
        <!-- ============================================================== -->
      </ul>

      <ul class="navbar-nav mr-auto titulo-general">
        <H2>SISTEMA DE SEGUIMIENTO VIGILANCIA A LA GESTANTE Y PUERPERAS</H2>
        <div><h4><br>Version 2.0</h4></div>
      </ul>

      <!-- ============================================================== -->
      <!-- Right side toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav">
        <!-- ============================================================== -->
        <!-- Comment -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- End Comment -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Messages -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle waves-effect waves-dark" [routerLink]="['modal']"
            href=""
            id="2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="mdi mdi-bell"></i>
            <div class="notify">
              <span class="heartbit"></span> <span class="point"></span>
            </div>
          </a>

        </li>
        <!-- ============================================================== -->
        <!-- End Messages -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Profile -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle waves-effect waves-dark"
            href=""
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              src="../assets/images/users/1.jpg"
              alt="user"
              width="30"
              class="profile-pic rounded-circle"
            />
          </a>
          <div class="dropdown-menu mailbox dropdown-menu-right scale-up">
            <ul class="dropdown-user list-style-none">


              <li class="user-list">
                <a class="px-3 py-2" (click)="cerrar_session()"
                  ><i class="fa fa-power-off"></i> Cerrar Session</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin3">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav" class="in">
        <!-- <li class="nav-small-cap">
          <i class="mdi mdi-dots-horizontal"></i>
          <span class="hide-menu">Personal</span>
        </li>
        <li class="sidebar-item"  routerLinkActive="selected">
          <a [routerLink]="['Personal']"class="sidebar-link">
            <i class="mr-2 mdi mdi-account"></i>

            <span class="hide-menu"> Gestion de Personal </span></a
          >
        </li>
        -->
        <li class="nav-small-cap">
          <i class="mdi mdi-dots-horizontal"></i>
          <span class="hide-menu">Atencion </span>
        </li>
        <li class="sidebar-item" routerLinkActive="selected">
          <a [routerLink]="['registro-gestante']" class="sidebar-link"
            >
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
            width="25px" height="26px" viewBox="0 0 209.000000 241.000000"
            preserveAspectRatio="xMidYMid meet">

           <g transform="translate(0.000000,241.000000) scale(0.100000,-0.100000)"
           fill="#ffffff" stroke="none">
           <path d="M748 2394 c-33 -10 -58 -28 -87 -60 -23 -26 -41 -53 -41 -60 0 -10
           -13 -14 -40 -14 -33 0 -42 -4 -54 -28 -47 -92 -13 -222 59 -222 19 0 26 -6 31
           -27 13 -65 38 -105 76 -124 33 -17 38 -24 38 -53 0 -19 -15 -85 -34 -147 -18
           -63 -43 -148 -55 -189 -12 -41 -50 -175 -86 -298 -78 -269 -95 -347 -84 -386
           17 -58 59 -105 173 -191 64 -48 119 -91 121 -96 3 -5 -20 -58 -51 -118 -31
           -60 -54 -116 -51 -124 7 -19 200 -118 308 -158 106 -39 201 -47 286 -25 84 22
           153 53 153 68 0 7 -21 33 -46 59 l-45 46 44 17 c199 76 311 302 251 507 -33
           114 -107 212 -223 299 l-70 51 15 34 c8 19 14 52 14 73 0 37 -4 42 -80 101
           -110 85 -213 191 -252 259 -27 47 -33 68 -33 117 0 41 6 68 18 86 16 25 19 25
           71 16 29 -5 66 -7 81 -3 26 7 27 10 21 46 -3 21 -2 41 3 45 5 3 8 25 6 49 -3
           31 0 48 10 56 22 18 19 28 -20 71 -27 30 -35 48 -35 77 0 46 -28 107 -69 154
           -17 20 -31 42 -31 51 0 16 -33 32 -100 47 -62 13 -136 11 -192 -6z m10 -1339
           c40 -82 62 -191 62 -301 0 -57 -4 -105 -8 -108 -15 -9 -172 180 -172 208 0 20
           39 140 75 229 11 26 19 21 43 -28z m649 -167 c90 -42 152 -154 138 -250 -14
           -96 -91 -185 -180 -209 -164 -45 -331 96 -312 261 21 174 197 272 354 198z"/>
           <path d="M1350 818 c-14 -5 -34 -18 -46 -29 -19 -18 -22 -18 -53 -3 -28 14
           -40 15 -72 5 -52 -16 -73 -49 -66 -103 5 -35 16 -51 71 -103 50 -46 66 -67 66
           -88 l0 -27 43 21 c109 55 197 150 197 213 0 74 -78 137 -140 114z"/>
           <path d="M1378 1664 c-32 -7 -75 -22 -95 -33 -48 -25 -128 -106 -118 -120 4
           -8 23 5 53 35 66 67 119 89 217 89 52 0 99 -7 133 -19 74 -25 190 -105 253
           -174 61 -67 122 -188 140 -280 16 -87 7 -248 -21 -337 -62 -199 -228 -426
           -439 -598 -23 -19 -31 -31 -24 -38 22 -22 252 195 364 344 334 442 331 837 -9
           1034 -162 94 -322 129 -454 97z"/>
           <path d="M363 1516 c-181 -46 -323 -202 -355 -392 -10 -60 -9 -85 5 -155 37
           -190 158 -344 447 -570 25 -19 67 -53 94 -74 95 -77 40 -7 -74 92 -63 56 -129
           116 -147 135 -65 71 -143 191 -175 271 -31 78 -32 88 -33 217 l0 136 37 74
           c77 154 204 240 355 240 35 0 63 4 63 9 0 23 -149 34 -217 17z"/>
           </g>
           </svg>
       <span class="hide-menu"> Registro de Gestante </span></a
          >
        </li>
        <li class="sidebar-item" routerLinkActive="selected">
          <a  class="sidebar-link" [routerLink]="['atencion-gestante']"
            >
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
            width="25px" height="26px" viewBox="0 0 209.000000 241.000000"
            preserveAspectRatio="xMidYMid meet">

           <g transform="translate(0.000000,241.000000) scale(0.100000,-0.100000)"
           fill="#ffffff" stroke="none">
           <path d="M748 2394 c-33 -10 -58 -28 -87 -60 -23 -26 -41 -53 -41 -60 0 -10
           -13 -14 -40 -14 -33 0 -42 -4 -54 -28 -47 -92 -13 -222 59 -222 19 0 26 -6 31
           -27 13 -65 38 -105 76 -124 33 -17 38 -24 38 -53 0 -19 -15 -85 -34 -147 -18
           -63 -43 -148 -55 -189 -12 -41 -50 -175 -86 -298 -78 -269 -95 -347 -84 -386
           17 -58 59 -105 173 -191 64 -48 119 -91 121 -96 3 -5 -20 -58 -51 -118 -31
           -60 -54 -116 -51 -124 7 -19 200 -118 308 -158 106 -39 201 -47 286 -25 84 22
           153 53 153 68 0 7 -21 33 -46 59 l-45 46 44 17 c199 76 311 302 251 507 -33
           114 -107 212 -223 299 l-70 51 15 34 c8 19 14 52 14 73 0 37 -4 42 -80 101
           -110 85 -213 191 -252 259 -27 47 -33 68 -33 117 0 41 6 68 18 86 16 25 19 25
           71 16 29 -5 66 -7 81 -3 26 7 27 10 21 46 -3 21 -2 41 3 45 5 3 8 25 6 49 -3
           31 0 48 10 56 22 18 19 28 -20 71 -27 30 -35 48 -35 77 0 46 -28 107 -69 154
           -17 20 -31 42 -31 51 0 16 -33 32 -100 47 -62 13 -136 11 -192 -6z m10 -1339
           c40 -82 62 -191 62 -301 0 -57 -4 -105 -8 -108 -15 -9 -172 180 -172 208 0 20
           39 140 75 229 11 26 19 21 43 -28z m649 -167 c90 -42 152 -154 138 -250 -14
           -96 -91 -185 -180 -209 -164 -45 -331 96 -312 261 21 174 197 272 354 198z"/>
           <path d="M1350 818 c-14 -5 -34 -18 -46 -29 -19 -18 -22 -18 -53 -3 -28 14
           -40 15 -72 5 -52 -16 -73 -49 -66 -103 5 -35 16 -51 71 -103 50 -46 66 -67 66
           -88 l0 -27 43 21 c109 55 197 150 197 213 0 74 -78 137 -140 114z"/>
           <path d="M1378 1664 c-32 -7 -75 -22 -95 -33 -48 -25 -128 -106 -118 -120 4
           -8 23 5 53 35 66 67 119 89 217 89 52 0 99 -7 133 -19 74 -25 190 -105 253
           -174 61 -67 122 -188 140 -280 16 -87 7 -248 -21 -337 -62 -199 -228 -426
           -439 -598 -23 -19 -31 -31 -24 -38 22 -22 252 195 364 344 334 442 331 837 -9
           1034 -162 94 -322 129 -454 97z"/>
           <path d="M363 1516 c-181 -46 -323 -202 -355 -392 -10 -60 -9 -85 5 -155 37
           -190 158 -344 447 -570 25 -19 67 -53 94 -74 95 -77 40 -7 -74 92 -63 56 -129
           116 -147 135 -65 71 -143 191 -175 271 -31 78 -32 88 -33 217 l0 136 37 74
           c77 154 204 240 355 240 35 0 63 4 63 9 0 23 -149 34 -217 17z"/>
           </g>
           </svg>


            <span class="hide-menu"> Atencion de Gestante </span></a
          >
        </li>
        <li class="sidebar-item" routerLinkActive="selected">
          <a [routerLink]="['atencion-puerperio']" class="sidebar-link"
            ><svg version="1.0" xmlns="http://www.w3.org/2000/svg"
            width="25px" height="26px" viewBox="0 0 209.000000 241.000000"
            preserveAspectRatio="xMidYMid meet">

           <g transform="translate(0.000000,241.000000) scale(0.100000,-0.100000)"
           fill="#ffffff" stroke="none">
           <path d="M748 2394 c-33 -10 -58 -28 -87 -60 -23 -26 -41 -53 -41 -60 0 -10
           -13 -14 -40 -14 -33 0 -42 -4 -54 -28 -47 -92 -13 -222 59 -222 19 0 26 -6 31
           -27 13 -65 38 -105 76 -124 33 -17 38 -24 38 -53 0 -19 -15 -85 -34 -147 -18
           -63 -43 -148 -55 -189 -12 -41 -50 -175 -86 -298 -78 -269 -95 -347 -84 -386
           17 -58 59 -105 173 -191 64 -48 119 -91 121 -96 3 -5 -20 -58 -51 -118 -31
           -60 -54 -116 -51 -124 7 -19 200 -118 308 -158 106 -39 201 -47 286 -25 84 22
           153 53 153 68 0 7 -21 33 -46 59 l-45 46 44 17 c199 76 311 302 251 507 -33
           114 -107 212 -223 299 l-70 51 15 34 c8 19 14 52 14 73 0 37 -4 42 -80 101
           -110 85 -213 191 -252 259 -27 47 -33 68 -33 117 0 41 6 68 18 86 16 25 19 25
           71 16 29 -5 66 -7 81 -3 26 7 27 10 21 46 -3 21 -2 41 3 45 5 3 8 25 6 49 -3
           31 0 48 10 56 22 18 19 28 -20 71 -27 30 -35 48 -35 77 0 46 -28 107 -69 154
           -17 20 -31 42 -31 51 0 16 -33 32 -100 47 -62 13 -136 11 -192 -6z m10 -1339
           c40 -82 62 -191 62 -301 0 -57 -4 -105 -8 -108 -15 -9 -172 180 -172 208 0 20
           39 140 75 229 11 26 19 21 43 -28z m649 -167 c90 -42 152 -154 138 -250 -14
           -96 -91 -185 -180 -209 -164 -45 -331 96 -312 261 21 174 197 272 354 198z"/>
           <path d="M1350 818 c-14 -5 -34 -18 -46 -29 -19 -18 -22 -18 -53 -3 -28 14
           -40 15 -72 5 -52 -16 -73 -49 -66 -103 5 -35 16 -51 71 -103 50 -46 66 -67 66
           -88 l0 -27 43 21 c109 55 197 150 197 213 0 74 -78 137 -140 114z"/>
           <path d="M1378 1664 c-32 -7 -75 -22 -95 -33 -48 -25 -128 -106 -118 -120 4
           -8 23 5 53 35 66 67 119 89 217 89 52 0 99 -7 133 -19 74 -25 190 -105 253
           -174 61 -67 122 -188 140 -280 16 -87 7 -248 -21 -337 -62 -199 -228 -426
           -439 -598 -23 -19 -31 -31 -24 -38 22 -22 252 195 364 344 334 442 331 837 -9
           1034 -162 94 -322 129 -454 97z"/>
           <path d="M363 1516 c-181 -46 -323 -202 -355 -392 -10 -60 -9 -85 5 -155 37
           -190 158 -344 447 -570 25 -19 67 -53 94 -74 95 -77 40 -7 -74 92 -63 56 -129
           116 -147 135 -65 71 -143 191 -175 271 -31 78 -32 88 -33 217 l0 136 37 74
           c77 154 204 240 355 240 35 0 63 4 63 9 0 23 -149 34 -217 17z"/>
           </g>
           </svg>
       <span class="hide-menu"> Atencion del Puerperio </span></a
          >
        </li>
        <li class="nav-small-cap">
          <i class="mdi mdi-dots-horizontal"></i>
          <span class="hide-menu">Reportes </span>
        </li>
        <li class="sidebar-item">
          <a (click)="abrir_modulo_reporte_gestante()"  class="sidebar-link"
            ><i class="fa fa-table"></i
            ><span class="hide-menu" > Reporte Seguimiento de Gestante </span></a
          >
        </li>
        <li class="sidebar-item">
          <a href="inbox-email.html" class="sidebar-link"
            ><i class="mdi mdi-chart-line"></i><span class="hide-menu"> Reporte Padron de Gestante </span></a
          >
        </li>
        <!-- <li class="nav-small-cap">
          <i class="mdi mdi-dots-horizontal"></i>
          <span class="hide-menu">Administracion Sivigyp </span>
        </li>
        <li class="sidebar-item">
          <a href="inbox-email.html" class="sidebar-link"
            ><i class="mdi mdi-chart-line"></i><span class="hide-menu"> Usuarios </span></a
          >
        </li> -->
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>

<div class="page-wrapper" [ngClass]="{alerta:estad.alerta ===true}">
  <div class="original">
    <app-menu-pagina ></app-menu-pagina>
    <router-outlet></router-outlet>
  </div>
</div>
