
<div class="card">

<div class="row">
    <div class="col-3"><div class="card">
        <H2 class="card-title">DATOS DE LA GESTANTE</H2>
        <img class="card-img-top w-70 profile-bg-height h_50" src="../assets/images/background/profile-bg.jpg" alt="Card image cap">

        <div class="card-body little-profile text-center">
            <div class="pro-img"><img src="../assets/images/users/4.jpg" alt="user" class="rounded-circle shadow-sm" width="150"></div>
            <h3 class="mb-0">{{gestante.APELLIDO_PAT+ ' '+gestante.APELLIDO_MAT+ ' '+gestante.NOMBRES}}</h3>
            <p>dni &amp; {{gestante.NRO_DOCUMENTO}}</p>

            <p>Tipo de Seguro : {{seguro?.NOMBRE}}</p>
            <p>Beneficiaria de Juntos : {{gestante.BENEFICIARIA_JUNTOS|cumple}}</p>
            <p>Estado Civil: {{gestante.ESTADO_CIVIL|estadoCivil}}</p>
            <p>Idioma: {{gestante.IDIOMA}}</p>
            <p>Telefono: {{gestante.TELEFONO}}</p>
            <p>Correo: {{gestante.CORREO}}</p>

            <p>Principales Riesgos &amp; luie,prejjs,</p>


            <div class="row text-center mt-3 justify-content-center">
                <div class="col-6 col-md-4 mt-3">
                    <h3 class="mb-0 font-weight-light">20</h3><small>Edad Gestacional</small>
                </div>
                <div class="col-6 col-md-4 mt-3">
                    <h3 class="mb-0 font-weight-light">12</h3><small>Controles Realizados</small>
                </div>
                <div class="col-6 col-md-4 mt-3">
                    <h5 class="mb-0 font-weight-light">12/09/2022</h5><small>Fecha Probable de Parto</small>
                </div>
            </div>
        </div>
    </div></div>
    <div class="col-4">
        <div class="card borde-blanco">
            <div class="card-body">
                <h4 class="card-title">Datos Inicio de la Atencion</h4>

            </div>
            <hr>
            <form class="form-horizontal">
                <div class="card-body">
                    <h4 class="card-title">Informacion de la gestante</h4>
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Fecha de registro</label>
                        <div class="col-sm-9">
                            <app-selector-fecha></app-selector-fecha>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 text-right control-label col-form-label">Fecha de Ultima Regla</label>
                        <div class="col-sm-9">
                          <app-selector-fecha></app-selector-fecha>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email1" class="col-sm-3 text-right control-label col-form-label">Numero de gestaciones</label>
                        <div class="col-sm-9">
                          <input type="number" class="form-control" value="0">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Recien Nacidos a termino</label>
                        <div class="col-sm-9">
                          <input type="number" class="form-control" value="0">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Recien Nacidos Prematuros</label>
                        <div class="col-sm-9">
                          <input type="number" class="form-control" value="0">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Numero de hijos actualmente vivos</label>
                        <div class="col-sm-9">
                          <input type="number" class="form-control" value="0">
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card-body">
                    <h4 class="card-title">Datos para la Gestacion</h4>
                    <div class="form-group row">
                        <label for="com1" class="col-sm-3 text-right control-label col-form-label">Fec confirmación de Gestación</label>
                        <div class="col-sm-9">
                          <app-selector-fecha></app-selector-fecha>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="com1" class="col-sm-3 text-right control-label col-form-label">Fec probable de Parto</label>
                        <div class="col-sm-9">
                          <app-selector-fecha></app-selector-fecha>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 text-right control-label col-form-label">Riesgos</label>
                        <div class="col-sm-9">
                            <select class="form-control">
                                <option>Riesgo 1</option>
                                <option>Riesgo 2</option>
                                <option>Riesgo 3</option>

                            </select>
                        </div>
                    </div>


                </div>
                <hr>
                <div class="card-body">
                    <div class="form-group mb-0 text-right">
                        <button type="submit" class="btn btn-info waves-effect waves-light">Guardar</button>
                        <button type="submit" class="btn btn-dark waves-effect waves-light">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>



    </div>
    <div class="col-5">
<div class="card borde-blanco">
    <div class="row">

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex no-block">
                        <h4 class="card-title">Programacion de Citas</h4>
                        <div class="ml-auto">
                            <select class="custom-select">
                                <option selected="">Enero</option>
                                <option value="1">Febrero</option>
                                <option value="2">Marzo</option>
                                <option value="3">April</option>
                                <option value="3">Mayo</option>
                                <option value="3">Junio</option>
                            </select>

                        </div>
                    </div>
                    <div class="month-table">
                        <div class="table-responsive mt-3">
                            <table class="table stylish-table v-middle mb-0 no-wrap">
                                <thead>
                                    <tr>
                                        <th class="border-0 text-muted font-weight-normal" colspan="2">Numero</th>
                                        <th class="border-0 text-muted font-weight-normal">Fecha</th>
                                        <th class="border-0 text-muted font-weight-normal">Edad gest</th>
                                        <th class="border-0 text-muted font-weight-normal">Lugar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width:50px;"><span class="round text-white d-inline-block text-center rounded-circle bg-info">S</span>
                                        </td>
                                        <td>
                                            <h6 class="font-weight-medium mb-0">Sunil Joshi</h6><small class="text-muted">Web
                                                Designer</small>
                                        </td>
                                        <td>21/06/2022</td>
                                        <td><span class="badge badge-info px-2 py-1">Pendiente</span></td>
                                        <td> <div class="btn-group show">
                                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                Accion
                                            </button>
                                            <div class="dropdown-menu show" style="position: absolute; transform: translate3d(-44px, 35px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
                                                <a class="dropdown-item" href="javascript:void(0)">Atender</a>
                                                <a class="dropdown-item" href="javascript:void(0)">Reprogramar Cita</a>

                                            </div>
                                        </div></td>
                                    </tr>
                                    <tr class="active">
                                        <td><span class="round text-white d-inline-block text-center rounded-circle bg-info"><img src="../assets/images/users/2.jpg" alt="user" class="rounded-circle" width="50"></span></td>
                                        <td>
                                            <h6 class="font-weight-medium mb-0">Andrew</h6><small class="text-muted">Project Manager</small>
                                        </td>
                                        <td>01/06/2022</td>
                                        <td><span class="badge badge-success px-2 py-1">Atendido</span></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><span class="round text-white d-inline-block text-center rounded-circle bg-success">B</span>
                                        </td>
                                        <td>
                                            <h6 class="font-weight-medium mb-0">Bhavesh patel</h6><small class="text-muted">Developer</small>
                                        </td>
                                        <td>01/05/2022</td>
                                        <td><span class="badge badge-success px-2 py-1">Atendido</span></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><span class="round text-white d-inline-block text-center rounded-circle bg-primary">N</span>
                                        </td>
                                        <td>
                                            <h6 class="font-weight-medium mb-0">Nirav Joshi</h6><small class="text-muted">Frontend
                                                Eng</small>
                                        </td>
                                        <td>01/01/2022</td>
                                        <td><span class="badge badge-success px-2 py-1">Atendido</span></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><span class="round text-white d-inline-block text-center rounded-circle bg-warning">M</span>
                                        </td>
                                        <td>
                                            <h6 class="font-weight-medium mb-0">Micheal Doe</h6><small class="text-muted">Content
                                                Writer</small>
                                        </td>
                                        <td>Helping Hands</td>
                                        <td><span class="badge badge-success px-2 py-1">Atendido</span></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><span class="round text-white d-inline-block text-center rounded-circle bg-danger">Atendido</span>
                                        </td>
                                        <td>
                                            <h6 class="font-weight-medium mb-0">Johnathan</h6><small class="text-muted">Graphic</small>
                                        </td>
                                        <td>Digital Agency</td>
                                        <td><span class="badge badge-success px-2 py-1">Atendido</span></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


    </div>
</div>

</div>
