<div class="card">

  <div class="row">
    <div class="col-3">
      <div class="card">
        <H2 class="card-title">DATOS DE LA GESTANTE</H2>
        <img class="card-img-top w-70 profile-bg-height h_50" src="../assets/images/background/profile-bg.jpg"
          alt="Card image cap">

        <div class="card-body little-profile text-center">
          <div class="pro-img"><img src="../assets/images/users/4.jpg" alt="user" class="rounded-circle shadow-sm"
              width="150"></div>
          <h3 class="mb-0">{{gestante.APELLIDO_PAT+ ' '+gestante.APELLIDO_MAT+ ' '+gestante.NOMBRES}}</h3>
          <p>dni &amp; {{gestante.NRO_DOCUMENTO}}</p>

          <p>Tipo de Seguro : {{seguro?.NOMBRE}}</p>
          <p>Beneficiaria de Juntos : {{gestante.BENEFICIARIA_JUNTOS|cumple}}</p>
          <p>Estado Civil: {{gestante.ESTADO_CIVIL|estadoCivil}}</p>
          <p>Idioma: {{gestante.IDIOMA}}</p>
          <p>Telefono: {{gestante.TELEFONO}}</p>
          <p>Correo: {{gestante.CORREO}}</p>




          <div class="row text-center mt-3 justify-content-center" *ngIf="mostrar_estado_gestacional">
            <div class="col-6 col-md-4 mt-3">
              <h3 class="mb-0 font-weight-light">{{edad_gestacional_actual}}</h3><small>Edad Gestacional</small>
            </div>
            <div class="col-6 col-md-4 mt-3">
              <h3 class="mb-0 font-weight-light">12</h3><small>Controles Realizados</small>
            </div>
            <div class="col-6 col-md-4 mt-3" >
              <h5 class="mb-0 font-weight-light" >{{fecha_probable_parto|date:'dd-MM-yyyy'}}</h5><small>Fecha Probable de Parto</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card borde-blanco">
        <div class="card-body">
          <h4 class="card-title">Datos Inicio de la Atencion</h4>




          <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
              <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link active">
                <i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i>
                <span class="d-none d-lg-block">Informacion Gestante</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#profile" data-toggle="tab" aria-expanded="true" class="nav-link">
                <i class="mdi mdi-account-circle d-lg-none d-block mr-1"></i>
                <span class="d-none d-lg-block">Datos Para la gestacion</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#riesgos" data-toggle="tab" aria-expanded="true" class="nav-link">
                <i class="mdi mdi-account-circle d-lg-none d-block mr-1"></i>
                <span class="d-none d-lg-block">Riesgos</span>
              </a>
            </li>

          </ul>


          <div class="tab-content">
            <div class="tab-pane active" id="home">
              <div class="card-body">

                <form [formGroup]="informacion_gestante_form">

                  <div class="form-group row">
                    <label for="fname" class="col-sm-4 text-right control-label col-form-label">Fecha de
                      registro</label>
                    <div class="col-sm-8">
                      <app-selector-fecha formControlName="fecha_registro"></app-selector-fecha>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="lname" class="col-sm-4 text-right control-label col-form-label">Fecha de Ultima
                      Regla</label>
                    <div class="col-sm-8">
                      <app-selector-fecha formControlName="fecha_ultima_regla" (change)="seleciono_fecha_regla()"></app-selector-fecha>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="email1" class="col-sm-4 text-right control-label col-form-label">Numero de
                      gestaciones</label>
                    <div class="col-sm-8">
                      <input type="number" class="form-control" formControlName="numero_gestaciones" value="0">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="cono1" class="col-sm-4 text-right control-label col-form-label">Recien Nacidos a
                      termino</label>
                    <div class="col-sm-8">
                      <input type="number" class="form-control" formControlName="recien_nacidos_termino" value="0">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="cono1" class="col-sm-4 text-right control-label col-form-label">Recien Nacidos
                      Prematuros</label>
                    <div class="col-sm-8">
                      <input type="number" class="form-control" value="0" formControlName="recien_nacidos_prematuros">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="cono1" class="col-sm-4 text-right control-label col-form-label">Numero de
                      Abortos</label>
                    <div class="col-sm-8">
                      <input type="number" class="form-control" value="0" formControlName="numero_abortos">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="cono1" class="col-sm-4 text-right control-label col-form-label">Numero de hijos
                      actualmente vivos</label>
                    <div class="col-sm-8">
                      <input type="number" class="form-control" value="0" formControlName="numero_hijos_vivos">
                    </div>
                  </div>
                </form>
              </div>

            </div>
            <div class="tab-pane show" id="profile">
              <div class="card-body">

                <form [formGroup]="informacion_para_gestacion_form">
                  <div class="form-group row">
                    <label for="com1" class="col-sm-4 text-right control-label col-form-label">Fec confirmación de
                      Gestación</label>
                    <div class="col-sm-8">
                      <app-selector-fecha formControlName="fecha_confirmacion_gestacion"></app-selector-fecha>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="com1" class="col-sm-4 text-right control-label col-form-label">Fec probable de
                      Parto</label>
                    <div class="col-sm-8">
                      <app-selector-fecha formControlName="fecha_probable_parto" [disabled]=true></app-selector-fecha>
                    </div>
                  </div>

                  <div class="form-group row">




                  </div>



             >
                </form>

              </div>

            </div>

            <div class="tab-pane show" id="riesgos">
              <div class="card-body">

                <form [formGroup]="riesgos_gestacion_form">

                  <h4 class="card-title">Tipo de Riesgo</h4>
                  <div class="row form-group ">

                    <div class="col-md-6">
                        <input name="tipo_riesgo" class="material-inputs" value="BRO" type="radio" id="radio_1" formControlName="tipo_riesgo" (change)="seleciono_tipo_riesgo('BRO')">
                        <label for="radio_1">BRO</label>
                    </div>
                    <div class="col-md-6">
                        <input name="tipo_riesgo" class="material-inputs" value="ARO" type="radio" id="radio_2" formControlName="tipo_riesgo" (change)="seleciono_tipo_riesgo('ARO')">
                        <label for="radio_2">ARO</label>
                    </div>

                </div>




                  <div class="form-group row">
                    <label class="col-sm-4 text-right control-label col-form-label">Riesgos</label>
                    <div class="col-sm-4">

                      <app-selector-riesgo formControlName="nuevo_riesgo"></app-selector-riesgo>


                    </div>

                    <div class="col-sm-4"><button type="button"
                        class="btn waves-effect waves-light btn-primary" (click)="AgregarRiesgo()">Agregar</button></div>
                  </div>


               <div *ngFor="let riesgo of lista_riesgos" class="row espacio">
                <div class="col-10">{{riesgo.NOMBRE}}</div>
                <div class="col-2"> <button type="button" class="btn btn-danger" data-method="crop" title="Crop" (click)="eliminar_riesgo(riesgo)">
                  <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" >
            <span class="fa fa-trash"></span>
                  </span>
              </button></div>

                  </div>
                </form>

              </div>

            </div>

          </div>



        </div>
        <div class="form-group mb-0 text-right">
          <button *ngIf="estado=='crear'" type="submit" class="btn btn-info waves-effect waves-light"
            (click)="Guardar_Atencion()">Guardar</button>
          <button *ngIf="estado=='actualizar'" type="submit" class="btn btn-info waves-effect waves-light"
            (click)="Actualizar_Atencion()">Actualizar</button>
          <button type="submit" class="btn btn-dark waves-effect waves-light">Cancelar</button>
        </div>


      </div>



    </div>
    <div class="col-5">
      <div class="card borde-blanco">
        <div class="row">

          <div class="col-12">
            <app-programacion-citas [atenciones_reg]="atenciones_reg" [atencion]="atencion" ></app-programacion-citas>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
