<div class="row"><div class="col-10">
  <app-filtros-red-microred-ipress (selecciono_ambito_2)="selecciono_ambito($event)" ></app-filtros-red-microred-ipress>

</div>
<div class="col-2">
  <div class="card">  <button type="submit" class="btn btn-info waves-effect waves-light" (click)="Buscar()">BUSCAR</button></div>
</div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "pacman" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
